<!-- views/partials/_header.ejs -->
<h4>Welcome to TinyURL</h4>
<% if (user) { %>
  <h3><%= user.email %></h3>
  <form method="POST" action="/logout">
    <button>logout</button>
  </form>

<% } else { %>
<form method="GET" action="/login">
  <button>Login Here</button>
</form>

<form method="GET" action="/register">
  <button>Register</button>
</form>

<form method="GET" action="/">
  <button>Home</button>
</form>

<%} %>


<hr></hr>
