<!-- views/partials/_header.ejs -->
<p>_header.ejs</p>
<form method="POST" action="/login">
  <input id="login" type="text" name="username" placeholder="username" style="width: 500px">
  <button>login</button>

</form>


<hr></hr>