<!-- views/partials/_header.ejs -->
<p>_header.ejs</p>
<% if (user) { %>
  <h2><%= user.email %></h2>
  <form method="POST" action="/logout">
    <button>logout</button>
  </form>

<% } else { %>
<form method="POST" action="/login">
  <input id="login" type="text" name="email" placeholder="email" style="width: 500px">
  <button>login</button>
</form>
<%} %>


<hr></hr>
