<!DOCTYPE html>
<html>
<head>
  <% include ../partials/_header %>
</head>
<!-- display http cat for errors -->
<body>
  <center>
  <div class="w3-container w3-display-container w3-medium w3-margin">
    <img class="w3-card" src="https://http.cat/<%= httpCat %>">  
  </div>
  <div class="w3-panel w3-block">
    <b class="w3-text-red w3-xlarge w3-container"><%= errorMsg %></b>
  </div>
  </center>
</body>
</html>