<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <% include ../partials/_header %>
</head>

<div class="w3-container w3-display-container w3-medium">
<body style="margin:auto;">
  
  <h1><center>Login</center></h1>
  <form class="w3-margin" action="/login" method="POST">
    <center>
    <label><b>Email</b></label><br>
    <input id="login" type="text" name="email" placeholder="email" style="width: 300px"><br>
    <label><b>Password</b></label><br>
    <input name="password" type="password" style="width: 300px"><br>
    <label><b>Confirm Password</b></label><br>
    <input name="confirmPassword" type="password" placeholder="Confirm Password" style="width: 300px"><br>
    <button class="w3-btn w3-card w3-hover-green w3-section">login</button>
  </center>
  </form> 

</body>
</div>
</html>