<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/_header %>
</head>
<body>
    <h2>ShortURL: <%= shortURL %></h2>
    <form method="POST" action="/urls/<%= shortURL %>">
      <input type="text" name="shortURL" placeholder="<%= longURL[shortURL] %>" style="width: 500px"><button>update</button>
    </form>

     <form method="GET" action="/urls">
      <button>Back to URLs</button>
    </form>

</body>
</html>