<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/_header %>
</head>

<div class="w3-container w3-display-container w3-medium">
<body style="margin:auto;">
  
  <form action="/urls" method="POST" style="margin:150px;">
    <label for="longURL">Enter a URL:</label>
    <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
    <button class="w3-btn w3-hover-light-blue w3-border">submit</button>
  </form>
</body>
</html>